
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Petit+Formal+Script&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
body {
  margin: 0;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
